::-moz-selection { /* Code for Firefox */
  color: black;
  background: rgba(255, 255, 255, 0.9);
}

::selection {
  color: black;
  background: rgba(255, 255, 255, 0.9);
}

body {
	background: #111;
	background: url('../img/noise.png');
}

header {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0px;
}

.banner-text {
	font-size: 30px;
	font-family: 'Roboto Mono';
	font-weight: 900;
	color: white;
	text-align: center;
}
#header-banner-name {
	margin: 20% auto 0;
	padding: 5px;
	width: 200px;

	background-color: rgba(33,33,33, 0.2);
}

#header-banner-aliases {	
	font-weight: 300;
	font-size: 15px;
	color: #ddd;

	margin-top: 10px;
}

#contact {
	width: 90%;
	text-align: center;
	display: none;

	margin: 0 auto;

	animation-duration: 1s;
}

#contact i {
	position: relative;
	color: white;
	font-size: 70px;
	text-align: center;
	padding: 10px;

	cursor: pointer;
}

.fa-discord {
	top: 4px;
}

#alert {
	width: 300px;
	height: 50px;

	margin: 15% auto 0;
	bottom: 100px;

	transition: 1s;

	animation-duration: 1s;

	display: none;
}

#alert .content {
	font-family: 'Roboto Mono';
	color: white;
}

@media(max-width: 990px) {
	#header-banner-name {
		width: 400px;
		font-size: 90px;
	}
	#header-banner-aliases {
		font-size: 45px;
	}
	#contact {
		width: 99%;
		position: absolute;
		bottom: 2%;
		margin: 0 auto 0;
	}
	#contact i {
		font-size: 170px;
	}

	#contact i:nth-child(2) {
		padding-left: 50px;
		padding-right: 50px;
	}

	#alert {
		margin: 20% auto 0;
	}

	#alert .content {
		font-size: 20px;
	}
}