:root {
  --background: #DFE4EA;
  --foreground: #6D84BD;
  --secondary-bg: #B4C9DE;
  --secondary-fg: #DFE4EA;
  --foreground-disabled: #7F8FA1;
  --background-disabled: #ADBDCF;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;

  font-size: 19px;
}

.flex        { display: flex; }
.flex-col    { flex-direction: column; }
.items-center{ align-items: center; }
.text-center { text-align: center; }

.rounded-lg  { border-radius: 16px; }

h2 {
  font-size: 32px;
}
.leading-snug{ line-height: 1.4em; }

.the-main-thingy
{
  padding: 40px; 
  padding-left: 50px; 
  padding-right: 50px; 
  width: 100%; 
  max-width: 600px;
  gap: 15px; 
}

.fade-in { animation: fadeIn 0.8s ease; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

a {
  color: var(--foreground);
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover { color: var(--foreground); }

.button 
{
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
}

.button-primary
{
  color: var(--secondary-fg);
  background-color: var(--foreground);
}

.button-primary:hover
{
  color: var(--secondary-fg);
  cursor: pointer;
}

.button-secondary
{
  color: var(--foreground);
  background-color: var(--secondary-bg);
}

.button-secondary:hover
{
  color: var(--foreground);
  cursor: pointer;
}

.button-primary-inactive
{
  color: var(--foreground-disabled);
  background-color: var(--background-disabled);
}

.button-primary-inactive:hover
{
  color: var(--foreground-disabled);
  background-color: var(--background-disabled);
  cursor: not-allowed;
}

.step 
{
  border-bottom: 1px solid var(--foreground);
  padding-bottom: 15px;
  color: var(--foreground);
  font-weight: bold;
}
